.pro-template1-por {
  margin: 5rem 10rem;
  &-list{
    margin-bottom: 2rem;
    &__date {
      font-style: italic;
      font-size: $defualt-font-size;
    }
    &__event{
      font-size: $defualt-font-size;
    }
    &__desc{
      font-size: $defualt-font-size;
    }
  }
}