.pro-template1-resume {
  
  margin: 15rem 5rem 5rem 5rem;
  &-vl1 {
    width: 0.2rem;
    margin-left: 4rem;
  }
  
  &-vl2 {
    width: 0.2rem;
    margin-left: 4rem;
  }
  
  &-project {
    position: absolute;
    left: 4rem;
    padding: 0 1rem;
  }
}