.footer-link{
    color: $color-grey-dark;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
    font-size: $font-size-14;
    font-family: "Raleway", sans-serif;
    margin: 1rem;

    &:hover {
        color: $color-secondary;
    }

    &-heading{
        color: $color-secondary;
        font-size: $defualt-font-size;
        font-family: "Raleway", sans-serif;
    }

    &-image{
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
    }

    &-title{
        font-size: $double-font-size;
        margin-bottom: 1rem;
    }
    &-icon{
        font-size: $font-size-3;
        color: $color-primary;
    }
}