.fresher-template1-nav {
  position: fixed;
  top: 50%;
  left: 2rem;
  transform: translatey(-50%);
  
  & li {
    list-style: none;
  }
  
  &-item,
  &-item:link,
  &-item:visited{
    width: 5rem;
    height: 5rem;
    border-radius: 100px;
    background-color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black,.2);
    text-align: center;
    font-size: 2rem;
    line-height: 5rem;
    display: inline-block;
    transition: all .2s ease-in;
  }
  
  &-item {
    &__text{
      display: none;
    }
    
    &:hover{
      width: auto;
      padding: 0 1.5rem;
      background-color: blue;
      color: white;
    }
    
    &:hover &__text {
      display: inline-block;
      padding: 0 2rem;
    }
    
  }
  
}