//colors
$color-primary: #2487ce;
$color-primary-light: #3194db;
$color-secondary: #124265;
$color-bg-light: #f8fbfe;

$color-brown-dark: #5e5e5e;
$color-brown-light: #919191;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: rgb(0,0,0);
$color-grey-light-1: #f7f7f7;

$color-blue-1: #47aeff;
$color-orange-1: #ffa76e;
$color-pink-1: #e80368;
$color-yellow-1: #ffbb2c;
$color-orange-red-1: #ff5828;
$color-teal-1: #11dbcf;
$color-teal-1-dark: #24bbb2;

//font Sizes
$font-size-14: 1.4rem;
$defualt-font-size: 1.6rem;
$font-size-2: 2rem;
$font-size-3: 3rem;
$double-font-size: 3.2rem;
$font-size-4: 4rem;
//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;