.button-menu {
  display: inline-block;
  padding: 10px 40px;
  border-radius: 6px;
  color: $color-primary-light;
  transition: none;
  font-size: $defualt-font-size;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  transition: 0.3s;
  border: 2px solid $color-primary-light;
  
  &:hover {
    background: $color-primary-light;
    color: $color-white;
  }
  
  &-f{
    display: inline-block;
    padding: 10px 40px;
    border-radius: 6px;
    transition: none;
    font-size: $defualt-font-size;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    transition: 0.3s;
    border: 2px solid $color-primary-light;
    background: $color-primary-light;
    color: $color-white;
    
    &:hover {
      color: $color-primary-light;
      background: $color-white;
    }
  }
}